.animal{
    .layout{
        margin : 6vw;
        padding : 2vw;
        border-radius: 20px;
        .barre-backoffice{
            display: flex;
            align-items: center;
            .box-backoffice{
                .c-dialog__box{
                    height: 65vh;
                }
                .box-general, .box-feed, .box-cure{
                    display: flex; 
                    a{
                        margin-top : -2px;
                    }
                    .icon{
                        .img-box{
                            width : 25px;
                        }
                        .bgc-img-box{
                            padding : 5px;
                        }
                        span{
                            display: none;
                        }
                    }
                    .icon:hover{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 32px;
                        .bgc-img-box{
                            width: 32px;
                            border-radius: 50%;
                            cursor : pointer;
                            .img-box{
                                width : 30px;
                            }
                        }
                        span{
                            display:inline;
                            font-size: 8px;
                            margin-top : 2px;
                            font-weight: bold;
                        }               
                    }
                }
                
            }
            .notVisible{
                color : red;
                font-weight: bold;
                font-size : 30px;
                padding : 2px;
                border : red dashed;
            }
        }
        .title{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .body{
            margin-top : 20px;
            .images{
                .img-container{
                    display: flex;
                    justify-content: center;
                    .imgAnimal{
                        border-radius: 20px;
                    }
                }              
            }
            .description{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .element{
                    display: flex;
                    margin-bottom : 1vh;
                    p{
                        span{
                        margin-right : 1vw;
                        font-weight: bold;
                        }
                    }
                }
            }
        }
        
    }
    .theme-beige{
        background-color: var(--beige);
        h2,h3,h4,a{
            color : var(--brown);
            text-decoration: none;
        }
        span, p{
            color : var(--brown) !important;
        }
        .box-general, .box-feed, .box-cure{
            .icon{
                .img-box{
                    filter: brightness(0) saturate(100%) invert(30%) sepia(35%) saturate(384%) hue-rotate(348deg) brightness(96%) contrast(96%) drop-shadow(0.1rem 0.2rem 0.1rem grey);
                }
            }

            .icon:hover{
                .bgc-img-box{
                    background-color: var(--brown);
                    .img-box{
                        filter: brightness(0) saturate(100%) invert(100%) sepia(77%) saturate(185%) hue-rotate(342deg) brightness(111%) contrast(102%) drop-shadow(0.1rem 0.2rem 0.1rem grey);
                    }
                }
            }    
        }
        .popup-confirm{
            background-color: var(--beige);
        }
    }

    .theme-green{
        background-color: var(--green);
        h2,h3,h4,p,span{
            color : var(--blue);
        }
        .box-general, .box-feed, .box-cure{
            .img-box{
                filter: brightness(0) saturate(100%) invert(30%) sepia(35%) saturate(384%) hue-rotate(348deg) brightness(96%) contrast(96%) drop-shadow(0.1rem 0.2rem 0.1rem grey);
            }
                
            .bgc-img-box:hover{
                background-color: var(--brown);
                .img-box{
                    filter: brightness(0) saturate(100%) invert(100%) sepia(77%) saturate(185%) hue-rotate(342deg) brightness(111%) contrast(102%) drop-shadow(0.1rem 0.2rem 0.1rem grey);
                }
            }
        }
    }

    .theme-white{
        background-color: var(--white);
        h2,h3,h4,p{
            color : var(--brown);
        }
    }

    .theme-blue{
        background-color: var(--blue);
        h2,h3,h4,p,a{
            color : var(--white);
            text-decoration: none;
        }
        .box-general, .box-feed, .box-cure{
            .icon{
                .bgc-img-box{
                    background-color: var(--green);
                    border-radius: 50%;
                    padding : 1px;
                    margin-right: 2px;
                    .img-box{
                        filter: brightness(0) saturate(100%) invert(18%) sepia(10%) saturate(3714%) hue-rotate(178deg) brightness(92%) contrast(87%);
                    }
                }
            }

            .icon:hover{
                .bgc-img-box{
                    background-color: var(--dark_green);
                    border-radius: 50%;
                    .img-box{
                        filter: brightness(0) saturate(100%) invert(87%) sepia(29%) saturate(114%) hue-rotate(5deg) brightness(110%) contrast(105%);
                    }
                }
            }    
        }
    }
}
/*special desktop*/
@media only screen and (min-width: 576px){
    .animal{
        .box-backoffice{
            display: flex;
            justify-content: flex-start;
            .box-general, .box-feed, .box-cure{
                margin-right : 5vw;
            }
        }
        .barre-backoffice{
            justify-content: space-between;
        }
        .reverse{
            .body{
                flex-direction: row-reverse;
            }
        }
        .body{
                display: flex;
                .images{
                    width : 45vw;
                    .img-container{
                        width : 36vw;
                        height: 28vw;
                        margin-left : 10%;
                        .imgAnimal{
                            max-width : 100%;
                            max-height : 100%;
                        }
                    }
                }
                .description{
                    width: 50%;
                }
        }
        .pagination{
            margin-left : 10%;
            width: 80%;
            @media only screen and (max-width: 780px){
                .previous-img, .next-img{
                    width : 28px;
                    height: 28px;
                }
                .next-text, .previous-text{
                    width: 74px;
                    font-size : 14px;
                }
            }
        }
    }
}
        
/*special mobile*/
@media only screen and (max-width: 576px){
    .animal{
        .box-backoffice{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .barre-backoffice{
            justify-content: center;
        }
        .title{
            margin-top : 2vh;
        }
        .body{
            .img-container{
                width: 95vw;
                height : 50vw;
                margin-left : -5vw;
                .imgAnimal{
                    max-width : 90%;
                    max-height : 90%;
                }
            }
        }
        .pagination{
            width : 90%;
            margin-left : 5%;
            margin-top : -2%;
            margin-bottom : 6%;
        }
    }
}