:root {
    --white: #FAFFF1;
    --brown: #634E3A;
    --beige: #E2D686;
    --blue : #23395B;
    --green : #A7C957;
    --dark_green : #5F733A;
    --font_sans_serif : "Nunito_Sans", sans-serif;
    --font_serif : "Pangolin", serif;
}
