.rounded-circle{
    border-radius: 50%;
}

.button{
    display: flex;
    justify-content: right;
    margin-right:5vw;
    text-decoration: none;
}

button{
    margin-top: 20px;
    margin-bottom : 20px;
    border-radius: 20px;
    padding : 12px;
    border-style: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-brown{
    background-color: var(--brown);
    color: var(--white);
    font-weight: bold;
    border-radius : 20px;
    box-shadow: 3px 1px 1px var(black);
}

.btn-blue{
    background-color: var(--blue);
    color: var(--white) ;
    font-weight: bold ;
    border-radius : 20px;
    box-shadow: 3px 1px 1px var(black);
}

.btn-green{
    background-color: var(--green);
    color: var(--blue);
    border-radius : 20px;
    font-weight: bold;
    border : 0px;
    box-shadow: 3px 1px 1px var(--dark_green);
}

.btn-DarkGreen{
    background-color: var(--dark_green);
    color: var(--white);
    font-weight: bold;
    border-radius : 20px;
    /*box-shadow: 3px 1px 1px black;*/
    border-right : 1px solid black;
    border-bottom :1px solid black;
}

.btn-beige{
    background-color: var(--beige);
    color: var(--dark_green);
    font-weight: bold;
    border-radius : 20px;
    border:0px;
    box-shadow: 3px 1px 1px var(--dark_green);
}

.btn-red{
    background-color: red;
    color: var(--white);
    font-weight: bold;
    border-radius : 20px;
    border:0px;
    box-shadow: 3px 1px 1px brown;
}

.btn-brown:hover,.btn-blue:hover, .btn-green:hover, .btn-DarkGreen:hover, .btn-beige:hover, .btn-red:hover,
.btn-previous:hover, .btn-next:hover,  .button-confirm:hover{
    opacity:0.8;
    cursor : pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.pagination{
    display: flex;
    justify-content: space-between;
    a{
        text-decoration: none;
    }

    .btn-previous, .btn-next{
        text-decoration: none;
        display : flex;
        align-items: center;
        .previous-img, .next-img{
            height:32px;
            filter:drop-shadow(1px 1px);
        }
        .next-text, .previous-text{
            @media only screen and (max-width: 576px){
                width : 75px;
            }
            @media only screen and (min-width: 576px){
                width : 95px;
            }     
            text-align: center;
            background-color: var(--brown);
            color : var(--white);
            padding : 2px;
            border-radius: 20px;
            filter:drop-shadow(1px 1px black);
        }
    }
    
    .page-brown, .page-blue, .page-white, .page-green{
        font-weight: bold;
        margin-left : 15px;
        margin-right : 15px;
    }

    .page-brown{
        color : var(--brown);
    }
    .page-blue{
        color : var(--blue);
    }
    .page-white{
        color : var(--white);
    }
    .page-green{
        color : var(--green);
    }
    
    .bp-brown, .bn-brown{
        .previous-text, .next-text{
            filter:drop-shadow(1px 1px #000000);
            color:var(--white) !important;
            background-color: var(--brown);
        }
    }
    .bp-blue, .bn-blue{
        .previous-text, .next-text{
            filter:drop-shadow(1px 1px #000000);
            color:var(--white);
            background-color: var(--blue);
        }
    }
    .bp-green, .bn-green{
        .previous-text, .next-text{
            filter:drop-shadow(1px 1px var(--dark_green));
            color:var(--blue);
            background-color: var(--green);
        }
    }

    .bp-white, .bn-white{
        .previous-text, .next-text{
            filter:drop-shadow(1px 1px #000000);
            color:var(--blue);
            background-color: var(--white);
        }
    }
}

/*rounds pour carrousels*/

.rounds{
    margin-top : 15px;
    margin-bottom : 15px;
    margin-left:20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
    .round{
        border-radius: 50%;
        @media only screen and (max-width: 576px){
            width : 5vw;
            height: 5vw;
            margin : 5px;
        }
        @media only screen and (min-width: 576px){
            width: 25px;
            height: 25px;
            margin : 5px;
        }
    }

}

.rounds-beige{
    .round{
        background-color: var(--beige);
        border : 1px solid var(--dark_green);
        filter:drop-shadow(1px 1px);
    }
    .round-selected{
        background-color: var(--dark_green);
    }
}

.rounds-white{
    .round{
        background-color: var(--white);
        border : 1px solid var(grey);
        filter:drop-shadow(1px 1px);
    }
    .round-selected{
        background-color: var(--beige);
    }
}