/*HEADER*/

.header{
        
   /* position: fixed;*/
    z-index: 100;
    top: 0;

    a{
        text-decoration: none;
    }

    .nav-link, .dropdown-item{
        color : var(--white);
    }

    .connected-link:hover{
        .arrow{
            filter: brightness(0) saturate(100%) invert(45%) sepia(8%) saturate(2365%) hue-rotate(39deg) brightness(90%) contrast(87%);
        }
    }

    .connected-link{
        display: flex;
        align-items: center;
    }

    .arrow{
        width : 37px; 
        filter: invert(91%) sepia(4%) saturate(603%) hue-rotate(53deg) brightness(109%) contrast(103%);
    }

    .bgc-dropdown{
        border: solid 1px var(--white);
        margin-right : 1px;
    }

    .login{
        .nameLogHover{
            color : red;
        }
        .btn-logout{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            padding: 0;
            margin: 0;
        }
        .container-login{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .account{
        filter: invert(31%) sepia(17%) saturate(979%) hue-rotate(348deg) brightness(89%) contrast(84%);
    }

    .login-form{
        p{
        color:var(--green); 
        text-align:center; 
        font-weight:normal;
        }
    }
    .close{
        position : absolute;
        top : -5vh;
        right : -1vw;
        background-color: var(--green);
        font-size: 25px;
        color : var(--blue);
        font-weight: bold;
        border-radius: 50%;
        padding:3px 8px;
        box-shadow: 2px 1px 1px black;
    }
    .close:hover{
        background-color: red;
        box-shadow: 2px 1px 1px black;
        cursor: pointer;
    }
}

/*version mobile*/
@media only screen and (max-width: 556px){
    .logo{
        display: none;
    }
    .nav-link:hover, .dropdown-item:hover,.connected-link:hover{
        color: var(--green);  
        font-weight : bold;
        .arrow{
            filter: brightness(0) saturate(100%) invert(45%) sepia(8%) saturate(2365%) hue-rotate(39deg) brightness(90%) contrast(87%);
        }
    }
    .active, .active:hover{
        color: var(--beige) !important;
        font-weight: bold;
    }

    .menu-icon{
        background-color: var(--brown);
        border-radius: 10px;
        width : 8vw;
    }

    .login{
        width : 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color : var(-white);
        filter:brightness(0.95);
        margin-left : 2px;
        padding:2px;
        border-radius: 50%;

        .nameLog{
            background-color: var(--brown);
            color : var(--white);
        }
        .account, .account-connected{
            width : 6vw;
        }
        #popup-login{
            color : var(--white);
        }
        #login-dialog{
            top:0;
            left:-8vw;
            height: 100vh;
        }
    }

    .container-fluid{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 40px;
        width: 100vw;

        .navbar-nav, #toggle{
            display: none;
        }

        .navbar-nav{
            flex-direction: column;
            width : 60vw;
            background-color: var(--brown);
            color : var(--white);

        }

        #toggle:checked + .navbar-collapse{
            .mobile{
                text-align:center;
                background-color: var(--brown);
                color : var(--white);
            }
            .navbar-nav {
                display: flex;
                text-align: center;
                background-color: var(--brown);
                color : var(--white);
                .connected-link{
                    display: flex;
                    justify-content: center;
                    background-color: var(--brown);
                }
                .connected-link:hover, .nav-item:hover{
                    color : var(--green);
                }
            }
        }
    }
}

/*version desktop*/
@media only screen and (min-width: 556px){
    header{
        .active, .active:hover{
            color: var(--blue) !important;
            font-weight: bold;
        }
        .menu{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .nav-link:hover, .dropdown-item:hover,.connected-link:hover{
            color: var(--dark_green);  
            font-weight : bold;
            .arrow{
                filter: brightness(0) saturate(100%) invert(45%) sepia(8%) saturate(2365%) hue-rotate(39deg) brightness(90%) contrast(87%);
            }
        }
        .navbar{
            display: flex;
        }

        .mobile, #toggle{
            display: none;
        }

        .top{
            background-color: rgba(250,255,241,0.3);
        }    
        .container-fluid{
            width: 100vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
        
            .navbar-nav{
                display: flex;
                flex-direction: row;
                align-items: center;
        
                li{
                    margin : 10px;
                }
            }
        }    
            
        .logo{
            height: 80px;
            width: 100%;
        }
        
        .login{
            margin-right: 2vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: var(--brown);
            font-weight: bold;
        
            .account, .account-connected{
                    @media only screen and (max-width: 992px){
                        width:5vw;
                    }
                    @media only screen and (min-width: 992px){
                    height: 61px;
                    }
                }
            #popup-login:hover,.account-connected:hover{
                cursor:pointer;
            }
        }
        .connexion:hover{
            background-color: rgba(250,255,241,0.8);
        }

        .dropdown{
            display: flex;
            flex-direction: column;
        }

        .dropdown-menu{
            position: absolute;
            margin-top: 60px;
            width : 200px;
            li{
                padding : 5px;
            }

        }
    }
}

/*au scroll de la souris*/
.scroll{
    @media only screen and (min-width: 556px){
        background-color : var(--beige) !important;
        }
        .nav-link, .nav-item, .dropdown-item{
            color : var(--brown) !important;
            font-weight: bold;
        }
    
        .active, .active:hover{
            color : var(--blue) !important;
        }
    
        .navbar-nav, .connected-link{
            background-color : var(--beige) !important;
        }
        .arrow{
            filter: brightness(0) saturate(100%) invert(27%) sepia(40%) saturate(388%) hue-rotate(349deg) brightness(100%) contrast(88%);
        }
        
        .nav-link:hover, .dropdown-item:hover, .dropdown-selected{
            color: var(--dark_green) !important;  
            font-weight : bold;
            .arrow{
                filter: brightness(0) saturate(100%) invert(45%) sepia(8%) saturate(2365%) hue-rotate(39deg) brightness(90%) contrast(87%);
            }
    }
}