.housings{
    .hero{
        .title{
            text-align: center;
            padding : 50px 0 40px 0;
        }
        .hero-housings{
            width : 90vw;
            margin-left: auto;
            margin-right: auto;
            padding-bottom : 10vh;
            a{
                text-decoration: none;
            }
            .hero-housing{
                margin : 2vh 1vw 0 2vh;
                padding : 1vw;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                h3{
                    text-align: center;
                }
            }
            .hero-housing:hover{
                cursor: pointer;
            }
        }
    }
    .add{
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .housing{
        padding-top : 90px;
        h2{
            text-align: center;
            margin-bottom : 50px;
        }
        .housing-detail{
            .images-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                .imgHousing{
                    border-radius: 20px;
                }
                .rounds{
                    justify-content: center !important;
                    .round:hover{
                        cursor: pointer;
                    }
                }
            }
            .description{
                border-radius: 20px;
                padding : 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    text-align: center;
                }
            }
        }
        .list-animals{
            margin : 80px 0 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            .search{
                margin : 30px 0 30px 0;
                display: flex;
                background-color:var(--white);
                border-radius: 20px;
                width: 280px;
                input{
                    background-color: var(--white);
                    margin : 5px 0 5px 0;
                    width : 250px;
                    border-radius: 20px;
                    padding: 5px;
                    border : none;
                }
                input:focus{
                    outline : none;
                }
                .searchIcon{
                    width: 30px;
                }
            }
            ul{
                display: grid;
                li{
                    text-align: center;
                    label:hover{
                        cursor: pointer;
                    }
                    input{
                        display: none;
                    }
                }
            }
            .messageNoResult{
                background-color: #cb1a1a;
                border-radius: 20px;
                padding:5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                span{
                    margin : 5px;
                    text-align: center;
                }
                img{
                    width: 20vw;
                }
            }
        }
        .animal{
            padding-top : 10px;
        }
        .button{
            text-decoration: none;
        }
    }
    @media only screen and (min-width: 576px){
        .hero{
            .hero-housings{
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                .hero-housing__left{
                    transform : rotate(4deg);
                }
                .hero-housing__right{
                    transform : rotate(-4deg);
                }
            }
        }
        .housing{
            .housing-detail{
                display: flex;
                justify-content: center;
                .images-container{
                    width : 35vw;
                    height: 22vw; 
                    .imgHousing{
                        max-width : 30vw;
                        max-height : 20vw;
                    }
                }
                .description{
                    width : 35vw;
                    height: 22vw;
                }
            }
            .list-animals{
                ul{
                    grid-template-columns: repeat(4,20vw);
                }
            }
        }
    }
    @media only screen and (max-width: 576px){
        .hero{
            .title{
                h2{
                    display: none;
                }
                h1{
                    padding : 5vh 0 5vh 0;
                }
            }
            .hero-housings{
                .hero-housing{
                    margin-left: auto;
                    margin-right: auto;
                    width: 70vw !important;
                    height : 40vh !important;
                    img{
                        max-width: 80% !important;
                        max-height: 60% !important;
                    }
                }
            }
        }
        .housing{
            .images-container{
                margin-left:auto;
                margin-right:auto;
                width : 90vw;
                .imgHousing{
                    max-width : 80vw;
                    max-height : 80vw;
                }
            }
            .description{
                margin-left:auto;
                margin-right:auto;
                width : 80vw;
            }
            .list-animals{
                ul{
                    grid-template-columns: repeat(2, 40vw);
                }
            }
        }

    }
    .reverse{
        .housing-detail{
            flex-direction: row-reverse;
        }
    }
}
.theme-brown{
    background-color: var(--brown);
    .head{
        background-color: var(--beige);
    }
    .hero{
        background: linear-gradient(var(--beige), var(--brown));
        h2, h3{
            color : var(--brown);
        }
        @media only screen and (max-width: 576px){
            h1{
                background-color: var(--brown) !important;
                color : var(--white);
            }
        }
        @media only screen and (min-width: 576px){
            h1{
                color : var(--brown) ;
            }
        }

        .hero-housing{
            background-color: var(--beige);
            box-shadow: 3px 1px 1px var(--brown);
        }
        .hero-housing:hover{
            background-color: var(--dark_green);
            h3{
                color : var(--white);
            }
        }
    }
    h2{
        color : var(--white);
    }
    .housing-detail{
        .description{
            color : var(--brown);
            background-color: var(--beige);
        }
    }
    .list-animals{
        color : var(--white);
        .search{
            input{
                color : var(--brown);
            }
            .searchIcon{
                filter : var(--filter_brown);
            }
        }

    }
    .back{
        button{
        color:var(--brown);
        img{
            filter: var(--filter_brown);
        }
        }
    }
}