/* espacement */

.medicalReports{
    background-color: var(--blue);
    padding-bottom : 30px;
    th,td{
        color : var(--white);
    }
    h1,h2{
        color : var(--green);
    }

    .reportView{
        .body{
            display: flex;
            flex-direction: column;
            height: 40vh;
            justify-content: space-between;
            margin-left: 10px;
            .element{
                display: flex;
                span{
                    font-weight: bold ;
                    padding-right: 10px;
                }
            }
        }

    }
    .icons{
        display: flex;
        justify-content: flex-start;
        .icon{
            display: flex;
            margin : 5px;
            .bgc-img-box{
                background-color: var(--green);
                padding : 2px;
                border-radius: 50%;
                .img-box{
                    filter: brightness(0) saturate(100%) invert(18%) sepia(10%) saturate(3714%) hue-rotate(178deg) brightness(92%) contrast(87%);
                }
            }
        }
        .icon:hover{
            cursor: pointer;
            display: flex;
            margin : 5px;
            .bgc-img-box{
                background-color: var(--dark_green);
                border-radius: 50% 50% 50% 0 ;
                .img-box{
                    filter: brightness(0) saturate(100%) invert(87%) sepia(29%) saturate(114%) hue-rotate(5deg) brightness(110%) contrast(105%);
                }
            }
        }
    }
    .legend{
        display : flex;
        align-items: center;
        background-color: var(--dark_green);
        padding : 4px;
        border-radius: 0 20px 20px 20px;
        width : 60%;
        color : var(--white);
    }
    .newReport{
        height : 70%;
        #listAnimals{
            width: 40vw;
        }
    }
    .animalContainer{
        .Entete{
            margin-bottom : 5px;
        }
        .animal{
            .layout{
                margin : 0;
            }
        }
    }
    table {
        width: 90%;
        margin-left : 5%;
        border-collapse: collapse;
        border: 3px solid var(--white);

        caption{
            margin: 20px;
            .entete{
                display: flex;
                justify-content: center;
            }
            .filter{
                    margin : 10px 0 10px 0;
                    background-color: var(--green);
                    padding : 5px;
                    border-radius : 20px;
                    border : 2px solid var(--dark_green);
                    color : var(--blue);
                    .title{
                        font-weight: bold;
                        width:70px;
                    }
                    .bodyFilter{
                        text-align:left;
                        input[type="date"], input[type="number"], input[type="text"] {
                            border-radius: 20px;
                            padding : 2px;
                            color: var(--blue);
                        }
                        input[type="checkbox"]:checked, input[type="radio"]:checked {
                            accent-color : var(--blue);
                        }
                        .searchFilter, .element, .elementDate{
                            margin : 18px 0px 18px 0px;
                        }
                        .titleFilter{
                            color: var(--blue);
                            font-weight: bold;
                            font-style: italic;
                        }
                        .selected{
                            border: 1px solid var(--blue);
                            border-radius: 10px;
                            margin : 0 5px 5px 5px;
                            padding : 5px;
                        }
                    }
                    .confirmChoices{
                        width: 160px;
                        input[type="submit"]{
                            margin : 5px 10px 5px 0;
                            padding : 10px;
                            width : 150px;
                        }
                        .buttonFilter{
                            margin : 5px 10px 5px 0;
                            padding : 8px;
                            width : 150px;
                        }
                    }

            }
        }
        thead{
            text-align: left;
            th{
                padding-left: 15px;
            }
        }
        .reportLink{
            text-decoration: underline var(--white);
        }
        .reportLink:hover{
            cursor:pointer;
        }
    }
    .error{
        text-align: center;
        color : var(--white); 
    }
}

@media only screen and (max-width: 556px){
    .medicalReports{
        .illustration{
            display: none;
        }
        .reportLink{
            align-content: center;
            align-items: center;
            span{
                display: none;
            }
            img{
                filter: var(--filter_white);
            }
        }
        .health{
            display: none;
        }
    }
    .allMedicalReports{
        .filter{
            .title{
                text-align: center;
            }
            .searchFilter{
                .titleFilter, .searchElements, input[type="text"]{
                    width: 100%;
                }
                .selected{
                    width: 92%;
                }
            }
            .selected{
                margin-right: 5px;
            }
        }
    }
}

@media only screen and (min-width: 556px){
    .medicalReports{
        .illustration{
            width : 8vw;
        }
        .title{
            padding-left : 30px;
        }
        .filter{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .element{
                display: flex;
            }
        }
        .reportLink{
            img{
                display: none;
            }
        }
    }
    .allMedicalReports{
        table {
            .filter{
                .searchFilter{
                    display: flex;
                    .titleFilter{
                        width: 20%;
                    }
                    .selected{
                        width: 40%
                    }
                    .searchElements{
                        width: 40%;
                        input[type="text"]{
                            width:100%;
                        }
                    }
                }
            }
        }
    }
}

.medicalReportsAnimal{
    table {
        table-layout: fixed;
        th,td {
            padding: 20px;
        }
        thead th:nth-child(1) {
            width: 20%;
        }
    
        thead th:nth-child(2) {
            width: 20%;
        }
    
        thead th:nth-child(3) {
            width: 35%;
        }
    
        thead th:nth-child(4) {
            width: 15%;
        }
    }
}

.allMedicalReports{
    table {
        td{
            padding: 10px;
        }
    }
}