/* dialog overlay*/
.c-dialog {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    transition: .2s;

    .fond{
      position : relative;
      background-color: rgb(0,0,0,75%);
      width : 100%;
      height: 150%;
    }  
  }
  .themeBlue{
    background-color: var(--blue);
    box-shadow: 2px 1px 1px black;
    color : var(--white);
    .popup{
      .Entete{
        background-color: var(--white);
        color : var(--blue) !important;
      }
      form{   
        textarea, input[type="text"], input[type="date"], select, input[type="time"], input[type="password"]{
          background-color: var(--white);
          color: var(--blue);
          border: 1px solid dark;
        } 
        .form-submit{
          input {
            border: var(--dark_green);
          }
        }
      }
    }
    .close{
      background-color: var(--green);
      color : var(--blue);
      box-shadow: 2px 1px 1px black;
      border : var(--green);
    }
    .close:hover{
      background-color: red;
      border :red;
      box-shadow: 2px 1px 1px black;
    }
  }

  .themeBeige{
    background-color: var(--beige);
    box-shadow: 2px 1px 1px var(--brown);
    color : var(--brown);
    .popup{
      .Entete{
        background-color: var(--brown);
        color : var(--beige) !important;
      }
        form{   
          textarea, input[type="text"], input[type="date"], select, input[type="time"], input[type="password"]{
            border : 1px solid var(--brown);
            background-color: var(--white);
            color : var(--brown);
          } 
          .form-submit{
            input {
              border: var(--dark_green);
            }
          }
        }
  
        .close{
          background-color: var(--dark_green);
          box-shadow: 2px 1px 1px black;
          border : var(--green);
          color : var(--beige);
        }
        .close:hover{
          background-color: red;
          border :red;
          box-shadow: 2px 1px 1px black;
        }
    }
  }
  
  /* dialog box*/
  .c-dialog__box {
    position:absolute;
    left:10vw;
    top: 20vh;
    flex: 1;
    width: 80vw;
    height: 60vh;
    margin: auto;
    padding: 5px;

    border-radius: 20px;
    .img{
      display: flex;
      justify-content: center;
      padding-bottom : 3vh;
    }
    #illustration-login{
      width : 20vh;
    }
  }

    .popup{
      .Entete{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom : 8vh;
        padding : 4px;
        border-radius: 20px;
  
        h3{
          font-weight :normal;
          text-align: center;
        }
      }
        form{
          display : flex;
          flex-direction: column;
    
          .element{
            display: flex;
            justify-content: space-between;
            margin-left: 5vw;
            margin-right: 5vw;
            margin-bottom : 1vh;
            textarea, input[type="text"], input[type="date"], select, .stars, input[type="time"], input[type="password"]{
              width : 40vw;
              border-radius: 20px;
            }
            textarea{
              height: 20vh;
            }
            .stars{
              .check-stars-input{
                display: none;
              }
              .NewReview-star:hover{
                cursor: pointer;
              }
              display: flex;
              flex-direction: row;
            }
    
          }
          .form-submit{
            display:flex;
            justify-content: center;
            align-items: center;
            margin-bottom : 2vh;
            margin-top: 8vh;
            input{
              height: 50px;
            }
          }
        }
  
        .close{
          position : absolute;
          top : -3vh;
          right : -1vw;
          font-size: 25px;
          font-weight: bold;
          border-radius: 50%;
          padding:3px 8px;
        }
        .close:hover{
          cursor: pointer;
        }
    }
    
  
  /* hidden dialog*/
  .c-dialog[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
  }

#login-dialog{
  .element{
    justify-content: center;
    label{
      padding-right : 5px;
    }
  }
}

/*popup de confirmation*/

.popup-confirm{
  position: absolute;
  flex: 1;
  margin: auto;
  padding: 5px;
  background-color: var(--blue);
  box-shadow: 2px 1px 1px black;
  color: var(--white) !important;
  border-radius: 20px;
  width : 50%;
  height: 40%;
  left : 50%;
  top : 50%;
  transform: translate(-50%,-50%);
  .entete{
    background-color: var(--white);
    padding : 5px;
    border-radius: 20px;
    margin-bottom : 15px;
    color : var(--blue) !important;
    text-align: center;
  }
  p{
      color : var(--white) !important;
  }
  span{
      color : var(--green) !important;
  }
  .confirm-choice{
      display: flex;
      justify-content: center;
      .button-confirm{
          background-color : red;
          color : var(--white);
          margin : 20px;
          padding-left : 10px;
          padding-right: 10px;
          border-radius: 20px;
          border: red;
          box-shadow: 3px 1px 1px brown;
      }
  }
}