/*REVIEWS*/

/*styles specials for desktop*/
@media only screen and (min-width: 576px){
    .reviews{
        .top{
            height: 80px;
        }
        .illustration{
            top: 175px;
        }

        .summary{
            .summary-block{
                display: flex;
                justify-content: center;

                .reviews-stats{
                    padding-bottom : 10px;
                    .data{
                        font-size: 30px;
                    }
                }
            }
        }
        .body-reviews{
            display: flex;
            flex-direction: row;
            margin-top : 4vh;
            padding-bottom : 7vh;
            .choices{
                margin-right: 5vw;
            }
            .reviews-list{
                .reviews-review{
                    width : 50vw;
                }
            }
        }
    }
}

/*styles specials for mobile*/
@media only screen and (max-width: 576px){
    .reviews{
        .top{
            height: 40px;
        }
        .illustration{
            top: 110px;
        }
        .summary{
            .summary-block{
                .stats-reviews-container{
                    display: flex;
                    justify-content: center;
                    margin-top : 15px;
                    .data{
                        font-size: 20px;
                    }
                }
                .notations{                  
                    align-items: center;
                }
            }
        }
        .body-reviews{
            .choices{
                padding-bottom : 5vw;
                .choices-mobile{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                
                .choice{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height : 120px;
                    border : 2px solid var(--beige);
                    background-color: var(--beige);
                    box-shadow: 5px 2px 2px var(--dark_green);
                    border-radius : 20px;
                    padding : 10px;
                    margin : 5px;
                    margin-bottom : 15px;
                    .title-choice{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        span{
                            color : var(--dark_green);
                            font-weight: bold;
                        }
                        .icon-filter{
                            width : 25px;
                            filter: brightness(0) saturate(100%) invert(41%) sepia(26%) saturate(734%) hue-rotate(39deg) brightness(93%) contrast(86%);
                        }
                    }
                    .check-choices{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        li, input{
                            margin: 2px 0px;
                            label{
                                color:var(--dark_green);
                            }
                        }
                        input[type="checkbox"]:checked, input[type="radio"]:checked {
                            accent-color : var(--dark_green);
                        }
                    }
                }
                .valid-choices{
                    display: flex;
                    justify-content: center;
                    input[type="submit"]{
                        font-weight: normal;
                        padding : 5px;
                        text-align: center;
                        border : var(--beige);
                        box-shadow: 3px 1px 1px var(--beige);
                    }
                }
            }
            .reviews-list{
                display: flex;
                flex-direction: column;
                align-items: center;
                .reviews-review{
                    width : 80vw;
        
                    border : 1px solid var(--blue);
    
                    border-radius: 20px;
                    box-shadow: 5px 2px 2px var(--blue);
    
                    margin-bottom : 10px;
                    padding : 8px;
        
                    h3{
                        color : var(--green);
                        margin-bottom : 5px;
                    }
                    .heading-review-Employee{
                        .heading-review{
                            .block{
                                p{
                                    font-size: 12px;
                                }
                                display: flex;
                                flex-direction: row;
                                margin-bottom : 5px;
                                .r-review-date{
                                    padding-right: 4px;
                                }
                                .r-review-stars{
                                    width: 85px;
                                    height:18px;
                    
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                    
                                    background-color: var(--blue);
                                    border-radius: 20px;
                    
                                    .start{
                                        height: 15px;
                                    }
                                }
                            }
                        }
                        .box-backOffice{
                            display: flex;
                            margin-bottom : 5px;
                            input[type="radio"]:checked {
                                accent-color : var(--blue);
                            }
                        }
                    }
                    .check{
                        font-size: 14px;
                    }
                    p{
                        margin-bottom : 5px;
                    }
                }
            }
        }
        
        .pagination{
            color : var(--blue);
        }
    }
}

.reviews{
    background-color: var(--white);
    .top{
        background-color: var(--white);
    }
    h1{
        text-align: center;
        margin-top: 40px;
        margin-bottom: 30px;
        color : var(--green);
    }

    h2{
        color: var(--green);
    }
    p, span{
        color : var(--blue);
    }

    .illustration{
        position: absolute;
        width: 130px;
        left: 50%;
        transform: translate(-50%,0);
    }

    .summary{
        background-color: var(--beige);
        margin-top:80px;
        h2{
            color:var(--dark_green);
            text-align:  center;
            padding-top : 20px;
            margin-bottom: 20px;
        }
        h3{
            color:var(--brown);
        }
        .summary-block{
            padding-bottom:10px;
            .data{
                padding-right:5px;
            }
            .block-nb{
                display: flex;
                align-items: flex-end;
            }
            .notations,.reviews-stats{
                margin-right:20px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
            .note{
                margin-top : 10px;
                display: flex;
                flex-direction: row; 
            }
            .note-bar{
                margin-left : 5px;
                height: 20px;
                width : 30vw;
                background-color: var(--white);
                border-radius: 20px;
                .porcent{
                    height: 20px;
                    background-color: var(--blue);
                    border-radius: 20px;
                }
            }
        }
    }
    
    .button-give{
        display: flex;
        justify-content: center;
        .edit-review{
            width: 24px;
        }
    }
    .body-reviews{
        .choices{
            .legends{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border : 2px solid var(--blue);
                background-color: var(--white);
                box-shadow: 5px 2px 2px var(--blue);
                border-radius : 20px;
                padding : 10px;
                margin : 5px;
                margin-bottom : 15px;
                /*span{
                    color : var(--dark_green);
                }*/
                .legends-title{
                    text-align: center;
                    font-weight: bold;
                    margin-bottom: 5px;
                }
                .legend{
                    display: flex;
                    margin-bottom: 5px;
                    .img{
                        background-color : var(--white);
                        border-radius: 50%;
                        padding : 1px;
                    }
                    .notSelected{
                        display: flex;
                        flex-direction: row;
                    }
                    .img-valid{
                        filter: brightness(0) saturate(100%) invert(83%) sepia(14%) saturate(1474%) hue-rotate(30deg) brightness(89%) contrast(93%);
                    }
                    .img-moderate{
                        filter: brightness(0) saturate(100%) invert(30%) sepia(23%) saturate(648%) hue-rotate(348deg) brightness(92%) contrast(88%);
                    }

                    .img-delete{
                        filter: brightness(0) saturate(100%) invert(18%) sepia(75%) saturate(4216%) hue-rotate(354deg) brightness(88%) contrast(100%);
                    }
                    .img-notSelected{
                        filter: brightness(0) saturate(100%) invert(89%) sepia(0%) saturate(1021%) hue-rotate(62deg) brightness(102%) contrast(84%);
                    }
                }
            }
            .choice{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border : 2px solid var(--beige);
                background-color: var(--beige);
                box-shadow: 5px 2px 2px var(--dark_green);
                border-radius : 20px;
                padding : 10px;
                margin : 5px;
                margin-bottom : 15px;
                .title-choice{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    span{
                        color : var(--dark_green);
                        font-weight: bold;
                    }
                    .icon-filter{
                        width : 25px;
                        filter: brightness(0) saturate(100%) invert(41%) sepia(26%) saturate(734%) hue-rotate(39deg) brightness(93%) contrast(86%);
                    }
                }
                .check-choices{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    li, input{
                        margin: 2px 0px;
                        label{
                            color:var(--dark_green);
                        }
                    }
                    input[type="checkbox"]:checked, input[type="radio"]:checked {
                        accent-color : var(--dark_green);
                    }
                }
            }
            .valid-choices{
                display: flex;
                justify-content: center;
                input[type="submit"]{
                    font-weight: normal;
                    padding : 5px;
                    text-align: center;
                    border : var(--beige);
                    box-shadow: 3px 1px 1px var(--beige);
                }
            }
        }
        .reviews-list{
            display: flex;
            flex-direction: column;
            align-items: center;
            .reviews-review{    
                border : 1px solid var(--blue);
                border-radius: 20px;
                box-shadow: 5px 2px 2px var(--blue);

                margin-bottom : 10px;
                padding : 8px;
    
                h3{
                    color : var(--green);
                    margin-bottom : 5px;
                }
                .heading-review-Employee{
                    display: flex;
                    justify-content: space-between;
                    .heading-review{
                        .block{
                            p{
                                font-size: 16px;
                            }
                            display: flex;
                            flex-direction: row;
                            margin-bottom : 5px;
                            .r-review-date{
                                padding-right: 4px;
                            }
                            .r-review-stars{
                                width: 85px;
                                height:18px;
                
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: center;
                
                                background-color: var(--blue);
                                border-radius: 20px;
                
                                .start{
                                    height: 15px;
                                }
                            }
                        }
                    }
                    .box-backOffice{
                        display: flex;
                        input[type="radio"]:checked {
                            accent-color : var(--blue);
                        }

                        .form-check-input{
                            display : none;
                        }
                        .img-valid, .img-moderate, .img-delete{
                            filter: brightness(0) saturate(100%) invert(89%) sepia(0%) saturate(1021%) hue-rotate(62deg) brightness(102%) contrast(84%);
                        }
                        .img-valid:hover, .img-moderate:hover, .img-delete:hover{
                            cursor: pointer;
                        }

                        .check-validate-review:checked + label img{
                            filter: brightness(0) saturate(100%) invert(83%) sepia(14%) saturate(1474%) hue-rotate(30deg) brightness(89%) contrast(93%);
                        }
                        

                        .check-moderate-review:checked + label img{
                            filter: brightness(0) saturate(100%) invert(30%) sepia(23%) saturate(648%) hue-rotate(348deg) brightness(92%) contrast(88%);
                        }

                        .check-delete-review:checked + label img{
                            filter: brightness(0) saturate(100%) invert(18%) sepia(75%) saturate(4216%) hue-rotate(354deg) brightness(88%) contrast(100%);
                        }
                    }
                }
                .check{
                    font-size: 14px;
                }
                p{
                    margin-bottom : 5px;
                }
            }
            .valid-verif{
                margin-top : 15px;
                margin-bottom : 25px;
                border:0px;
            }
        }
    }
    
    .pagination{
        color : var(--blue);
    }
}
