@import url('custom.css');
@import url('reset.css');
@import url('header.css');
@import url('connected.css');
@import url('footer.css');
@import url('elements.css');
@import url('popup.css');
@import url('home.css');
@import url('reviews.css');
@import url('services.css');
@import url('addService.css');
@import url('animal.css');
@import url('allAnimals.css');
@import url('updateAdd.css');
@import url('housings.css');
@import url('commentsVetoHousing.css');
@import url('medicalReportsAndFood.css');
@import url('dashboard.css');




h1, h2, h3{
    font-family: var(--font_serif);
}

h1{
    @media only screen and (max-width: 576px){
        font-size: 40px;  
    }
    @media only screen and (min-width: 576px){
        font-size: 65px;
    }
}

h2{
    @media only screen and (max-width: 576px){
        font-size: 24px;
    }
    @media only screen and (min-width: 576px){
        font-size: 32px;        
    }
}

h3{
    @media only screen and (max-width: 576px){
        font-size: 18px;
    }
    @media only screen and (min-width: 576px){
        font-size: 25px;        
    }
}

p,a,span, li,label,input, textarea, button,th,td,h4, select{
    font-family: var(--font_sans_serif);
    @media only screen and (max-width: 576px){
        font-size: 14px;
    }
    @media only screen and (min-width: 576px){
        font-size: 18px;        
    }
}

.none{
    display:none !important;
}

.hidden{
    visibility: hidden;
}

.text-center{
    text-align : center;
}

.text-white{
    color : var(--white);
}

.text-brown{
    color : var(--brown);
}

.head{
    @media only screen and (max-width: 576px){
        height: 40px;
    }
    @media only screen and (min-width: 576px){
        height : 75px;
    }
}

.E404{
    margin-bottom:10px;
    img{
        margin-top : 2vh;
        width : 25vw;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



