/* espacement */

.medicalReports, .foodAnimal, #usersBoard{
    .themeBlue{
        padding-bottom : 30px;
        background-color: var(--blue);
        th,td{
            color : var(--white);
        }
        h1,h2{
            color : var(--green);
        }
        .icons{
            .icon{
                .bgc-img-box{
                    background-color: var(--green);
                    .img-box{
                        filter: var(--filter_blue);
                    }
                }
            }
        }
        .icon:hover{
            .bgc-img-box{
                background-color: var(--dark_green);
                .img-box{
                    filter: var(--filter_white);
                }
            }
        }
        .legend{
            background-color: var(--dark_green);
            color : var(--white);
        }
        table {
            border: 3px solid var(--white);
            caption{
                .filter{
                    background-color: var(--green);
                    border : 2px solid var(--dark_green);
                    color : var(--blue);
                    .bodyFilter{
                        input[type="date"], input[type="number"], input[type="text"] {
                            color: var(--blue);
                        }
                        input[type="checkbox"]:checked, input[type="radio"]:checked {
                            accent-color : var(--blue);
                        }
                        .titleFilter{
                            color: var(--blue);
                        }
                        .selected{
                            border: 1px solid var(--blue);
                        }
                    }
                }
            }
            .reportLink{
                text-decoration: underline var(--white);
            }
        }
        #notFoundFood{
            color: var(--white);
        }
        .error{
            color : var(--white); 
        }
        @media only screen and (max-width: 556px){
            .medicalReports{
                .reportLink{
                    img{
                        filter: var(--filter_white);
                    }
                }
            }
        }
    }

    .themeBeige{
        padding-bottom : 30px;
        background: linear-gradient(var(--beige), var(--brown));
        th,td{
            color : var(--dark_green);
        }
        h1,h2{
            color : var(--brown);
        }
        .icons{
            .icon{
                .bgc-img-box{
                    background-color: var(--dark_green);
                    .img-box{
                        filter: var(--filter_beige);
                    }
                }
            }
        }
        .icon:hover{
            .bgc-img-box{
                background-color: var(--green);
                .img-box{
                    filter: var(--filter_brown);
                }
            }
        }
        .legend{
            background-color: var(--green);
            color : var(--brown);
        }
        table {
            border: 3px solid var(--dark_green);
            background-color: var(--beige);
            caption{
                .filter{
                    background-color: var(--dark_green);
                    border : 2px solid var(--green);
                    color : var(--white);
                    .bodyFilter{
                        input[type="date"], input[type="number"], input[type="text"] {
                            color: var(--dark_green);
                            background-color: var(--white);
                        }
                        input[type="checkbox"]:checked, input[type="radio"]:checked {
                            accent-color : var(--green);
                        }
                        .titleFilter{
                            color: var(--white);
                        }
                        .selected{
                            border: 1px solid var(--white);
                        }
                    }
                }
            }
            .reportLink{
                text-decoration: underline var(--white);
            }
        }
        #notFoundFood{
            color: var(--brown);
        }
        .error{
            color : var(--brown); 
        }
        @media only screen and (max-width: 556px){
            .medicalReports{
                .reportLink{
                    img{
                        filter: var(--filter_white);
                    }
                }
            }
        }
    }

    .reportView{
        .body{
            display: flex;
            flex-direction: column;
            height: 40vh;
            justify-content: space-between;
            margin-left: 10px;
            .element{
                display: flex;
                span{
                    font-weight: bold ;
                    padding-right: 10px;
                }
            }
        }

    }
    .icons{
        display: flex;
        justify-content: flex-start;
        .icon{
            display: flex;
            margin : 5px;
            .bgc-img-box{
                padding : 2px;
                border-radius: 50%;
            }
            img{
                width: 30px;
            }
        }
        .icon:hover{
            cursor: pointer;
            display: flex;
            margin : 5px;
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
            .bgc-img-box{
                border-radius: 50% 50% 50% 0 ;
            }
            img{
                width: 30px;
            }
        }
    }
    .legend{
        display : flex;
        align-items: center;
        padding : 4px;
        border-radius: 0 20px 20px 20px;
        width : 60%;
    }
    .newReport, .fed{
        height : 70%;
        #listAnimals{
            width: 40vw;
        }
    }
    .animalContainer{
        .Entete{
            margin-bottom : 5px;
        }
        .animal{
            .layout{
                margin : 0;
            }
        }
    }
    table {
        width: 90%;
        margin-left : 5%;
        border-collapse: collapse;

        caption{
            margin: 20px;
            .entete{
                display: flex;
                justify-content: center;
            }
            .filter{
                    margin : 10px 0 10px 0;
                    padding : 5px;
                    border-radius : 20px;
                    .title{
                        font-weight: bold;
                        width:70px;
                    }
                    input[type="date"], input[type="number"], input[type="text"], select, input[type="password"] {
                        border-radius: 20px;
                        padding : 2px;
                    }
                    .bodyFilter{
                        text-align:left;

                        .searchFilter, .element, .elementDate{
                            margin : 18px 0px 18px 0px;
                        }
                        .titleFilter{
                            font-weight: bold;
                            font-style: italic;
                        }
                        .selected{
                            border-radius: 10px;
                            margin : 0 5px 5px 5px;
                            padding : 5px;
                        }
                    }
                    .confirmChoices{
                        width: 160px;
                        input[type="submit"]{
                            margin : 5px 10px 5px 0;
                            padding : 10px;
                            width : 150px;
                        }
                        .buttonFilter{
                            margin : 5px 10px 5px 0;
                            padding : 8px;
                            width : 150px;
                        }
                    }
            }
        }
        thead{
            text-align: left;
            th{
                padding-left: 15px;
            }
        }
        tr{
            padding : 5px;
        }
        .reportLink:hover{
            cursor:pointer;
        }
    }
    #notFoundFood{
        text-align: center;
        font-size : 40px;
    }
    .error{
        text-align: center;
    }
    .buttons{
        display: flex;
        .btnUser{
            width: 200px;
            padding : 10px;
            margin : 20px auto 20px auto;
            text-align: center;
            span{
                color :var(--brown);
                align-items: center;
            }
        }
    }
    #updateAccount, #createAccount, #deblocAccount{
        height : 600px;
        .passwordError:focus{
            outline : 1px solid red;
        }
        .passwordOk:focus{
            outline : 1px solid black;
        }
        .legendAccount{
            width: 70%;
            background-color: var(--beige);
            margin : 5px auto 5px auto;
            padding : 10px;
            border-radius: 20px;
        }
        .btn-red{
            padding : 20px; 
            font-family : var(--font_sans_serif)
        }
    }
}

.newReportPage{
    background-color: var(--blue);
    color : var(--white);
    textarea, input[type="text"], input[type="date"], input[type="time"]{
        background-color: var(--white);
        color : var(--blue);
    }
}

.fedAnimalPage{
    background: linear-gradient(var(--beige), var(--brown));
    color : var(--beige);
    textarea, input[type="text"], input[type="date"], input[type="time"]{
        background-color: var(--white);
        color : var(--brown);
    }
}
.newReportPage, .fedAnimalPage{
    h1,h2{
        text-align: center;
    }
    h2{
        margin-bottom : 20px;
    }
    
    display : flex;
    flex-direction: column;

    .element{
        display: flex;
        justify-content: space-between;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom : 1vh;
        textarea, input[type="text"], input[type="date"], input[type="time"]{
            width : 40vw;
            border-radius: 20px;
        }
        textarea{
            height: 20vh;
        }  
    }
    .form-submit{
        display:flex;
        justify-content: center;
        margin-bottom : 2vh;
        margin-top: 8vh;
        .button{
            padding : 15px;
        }
    }
}

@media only screen and (max-width: 556px){
    .medicalReports, .foodAnimal, #usersBoard{
        .illustration{
            display: none;
        }
        .reportLink{
            align-content: center;
            align-items: center;
            span{
                display: none;
            }
            img{
                filter: var(--filter_white);
            }
        }
        .health, .food{
            display: none;
        }
    }
    .allMedicalReports, .allFood{
        .filter{
            .title{
                text-align: center;
            }
            .searchFilter{
                .titleFilter, .searchElements, input[type="text"]{
                    width: 100%;
                }
                .selected{
                    width: 92%;
                }
            }
            .selected{
                margin-right: 5px;
            }
        }
        .employee{
            display:'none';
        }
    }
}

@media only screen and (min-width: 556px){
    .medicalReports, .foodAnimal, #usersBoard{
        .illustration{
            width : 8vw;
        }
        .title{
            padding-left : 30px;
        }
        .filter{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .element{
                display: flex;
            }
        }
        .reportLink{
            img{
                display: none;
            }
        }
    }
    #usersBoard{
        .filter{
            justify-content: space-evenly;
        }
    }
    .allMedicalReports, .allFood{
        table {
            .filter{
                .searchFilter{
                    display: flex;
                    .titleFilter{
                        width: 20%;
                    }
                    .selected{
                        width: 40%
                    }
                    .searchElements{
                        width: 40%;
                        input[type="text"]{
                            width:100%;
                        }
                    }
                }
            }
        }
    }
}

.medicalReportsAnimal{
    table {
        table-layout: fixed;
        th,td {
            padding: 20px;
        }
        thead th:nth-child(1) {
            width: 20%;
        }
    
        thead th:nth-child(2) {
            width: 20%;
        }
    
        thead th:nth-child(3) {
            width: 35%;
        }
    
        thead th:nth-child(4) {
            width: 15%;
        }
    }
}

.allMedicalReports, .allFood{
    table {
        td{
            padding: 10px;
        }
    }
    .pagination{
        margin : 20px 10% 20px 10%;
    }
}